# dependencies
/node_modules

# testing
/coverage

# next.js
/.next/

# debug
npm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo

# supabase
supabase/
data/dumps/supabase-dump-*
data/dumps/*.sql

# IDE
.vscode/settings.json
